{% extends "base.html.twig" %}

{% block body %}
	<div class="container">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt dicta eveniet laudantium quibusdam, sunt necessitatibus enim doloremque recusandae hic expedita illo similique, fugit repellendus animi commodi dignissimos alias labore!</div>
{% endblock %}
